<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Server</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>zuo.com</string>
			<key>Key</key>
			<string>server</string>
			<key>DefaultValue</key>
			<string>http://www.weimi.com/ios/v1</string>
			<key>Titles</key>
			<array>
				<string>http://staging.weimi.com/ios/v1</string>
				<string>http://www.weimi.com/ios/v1</string>
				<string>http://maple.weimi.dev.xq.lab/ios/v1</string>
				<string>http://zhoupan.weimi.dev.xq.lab/ios/v1</string>
				<string>http://test.anhuibaike.com/ios/v1</string>
				<string>http://taojun.weimi.dev.xq.lab/ios/v1</string>
				<string>http://yangqi.weimi.dev.xq.lab/ios/v1</string>
				<string>http://scourgen.weimi.dev.xq.lab/ios/v1</string>
			</array>
			<key>Values</key>
			<array>
				<string>http://staging.weimi.com/ios/v1</string>
				<string>http://www.weimi.com/ios/v1</string>
				<string>http://maple.weimi.dev.xq.lab/ios/v1</string>
				<string>http://zhoupan.weimi.dev.xq.lab/ios/v1</string>
				<string>http://test.anhuibaike.com/ios/v1</string>
				<string>http://taojun.weimi.dev.xq.lab/ios/v1</string>
				<string>http://yangqi.weimi.dev.xq.lab/ios/v1</string>
				<string>http://scourgen.weimi.dev.xq.lab/ios/v1</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>自定义</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>使用自定义Server</string>
			<key>Key</key>
			<string>switch</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>地址</string>
			<key>Key</key>
			<string>textfield</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
